@import url(https://allfont.es/allfont.css?fonts=sansumi-bold);
*{
    margin: 0;
    padding: 0;
    font-family: 'Sansumi-Bold', arial;
}
p{
    color: #ffffffff;
}
h1{
    color: #ffffffff;
}
/*header{
    background-image: url(../img/italia.webp);
    background-size: contain;
    background-repeat: no-repeat;
}*/
/*Header*/
.titulo>h1{
    position: absolute;
    width: 773px;
    height: 332px;
    left: 450px;
    top:200px;

    font-size: 90px;

    align-items: center;
    text-align: center;

    color:#30D840;

}
.titulo > h2{
    position: absolute;
    width: 773px;
    height: 332px;
    left: 450px;
    top:410px;

    font-size: 45;

    align-items: center;
    text-align: center;

    color:#30D840;
}
.landing{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;

  
}
.landing > div{
    width: 50%;

}
.landing > div:first-child{
    margin-right: 20px;
}
.left{
    position: relative;
    width: 600px;
    height: 700px;
    right: 500px;

    background: #78D568;
    border-radius: 50%;
}
.right{
    position: relative;
    width: 600px;
    height: 700px;
    left: 300px;
    top: -300px;

    background: #78D568;
    border-radius: 50%;
}

/*cuerpo*/
.container{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    margin-top: 39px;
}
.container > div{
    width: 50%;
}
.container > div:first-child{
    margin-right: 20px;
}
.cont{
    position: relative;
    width: 900px;
    height: 700px;

    background: #78D568;
  
}
.cont > h1{

    align-items:baseline;
    text-align: left;
    font-size:3em;
    padding: 20px;
    margin-top: 300px;
    margin-right: -40px;
}
.list  {
    padding: 50px;
}
.list ul{
    list-style-type: upper-latin;
}
 .list-country li {
    padding: 12px 20px;
    width: 250px;
    height: 50px;
    margin-left: 30px;
    font-size: 3em;
}
a{
    text-decoration: none;
    color: black;
}
.conten-modal{
    width: auto;
    height: 100%;
}
.modal{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    animation: aparecer .3s linear;
}

.modal .fondoModal{
    position: fixed;
    width: 97%;
    height: 100%;
    top: 0;
    z-index: 1;
}

.modal .modal-content{
    z-index: 1000;
    position: absolute; 
    width: 60%;
    left: 0;
    right: 0;
    margin: auto;
    top: 20px;

    max-width: 660px;
}

.modal .modal-content .modal-header{
    background-color: white;
    padding: 20px;
    display: flex;

    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
}

.modal .modal-content .modal-header .title-modal{
    font-size: 30px;
    padding-top: 10px;

}

.modal .modal-content .modal-header .btn-close-modal{
    background: none;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 20px;
}

.modal .modal-content .modal-header .btn-close-modal::after{
    content: "X";
}

.modal .modal-content .modal-header .btn-close-modal:hover{
    cursor: pointer;
}

.modal .modal-content .modal-body{
    border-radius: 0px 0px 10px 10px;
    background-color: white;
    padding: 20px;
    border-top: 1px solid #ccc;

    margin-bottom: 25px;
}
.modal-body ul {
    list-style:none;
}
/*FOOTER*/
.foot{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    background-color: #B3E3B2;
    padding: 15px;
}
.foot > div{
    width: 50%;
}
.foot > div:first-child{
    margin-right: 20px;
}
.about{
    position: relative;
    left: 200px;

}

